html, body, #root{
    height: 100%;
}
html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.file-text{
    color: #d06d12;
}

/* >= 768px */
@media (max-width: 767px ){
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* >= 768px */
@media (min-width: 768px ){
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
}


/* >= 1024px */
@media (min-width: 1024px){
    body{
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* >= 1024px */
@media (min-width: 1280px){}